<!DOCTYPE html>
<html>
<head>
    <title>Add Account</title>
</head>
<body>
    <h1>Add Account</h1>
    <form method="post">
        <label for="account_name">Account Name:</label><br>
        <input type="text" id="account_name" name="account_name"><br>
        <label for="initial_balance">Initial Balance:</label><br>
        <input type="text" id="initial_balance" name="initial_balance"><br>
        <input type="submit" value="Add Account">
    </form>
    <a href="/">Back</a>
</body>
</html>